<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="auth-form">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button href="/register" expand="block" color="primary">Register</ion-button>
  
          <span class="divider line one-line">or</span>
  
          <span class="already">Already a user?</span>
  
          <ion-button href="/login" expand="block" color="danger">Sign In</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
